.pricing-section {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px 0;
    font-family: 'Sora', sans-serif;
  }
  
  .pricing-card {
    width: 370px;
    min-height: 680px;
    border: 2px solid #0649E7;
    border-radius: 35px;
    padding: 32px 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 300px;
    min-height: 700px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h3 {
    font-size: 22px;
    color: #00237d;
    font-weight: 600;
  }
  
  .badge {
    padding: 6px 12px;
    border: 1px solid #0649E7;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    color: #0649E7;
  }
  
  .price {
    font-size: 24px;
    color: #00237d;
    margin: 16px 0;
  }
  
  .price span {
    font-size: 36px;
    font-weight: 700;
    color: #0649E7;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #dcdcdc;
    margin: 24px 0;
  }
  
  .pricing-card .features {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    flex-grow: 1;
    margin-bottom: 32px;
  }
  
  .features li {
    font-size: 15px;
    color: #00237d;
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
  
  .check {
    color: #06c755;
    font-weight: bold;
    flex-shrink: 0;
  }
  
  .get-started {
    background-color: #0649E7;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    width: 211px;

    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started:hover {
    background-color: #003bb5;
  }
  
  @media (max-width: 1140px) {
    .pricing-card {
      width: 100%;
      max-width: 400px;
    }
  
    .pricing-section {
      flex-direction: column;
      align-items: center;
    }
  }
  